/* _content/WorldBackpacker/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-26p9thvhvv] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("background.svg");
    background-size: cover;
}
main[b-26p9thvhvv] {
    flex: 1;
}

.sidebar[b-26p9thvhvv] {
    background-color: #f2c366;
}

.top-row[b-26p9thvhvv] {
    justify-content: flex-end;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

    .top-row[b-26p9thvhvv]  a, .top-row[b-26p9thvhvv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        font-size: 1.03rem;
    }

    .top-row[b-26p9thvhvv]  a:hover, .top-row[b-26p9thvhvv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-26p9thvhvv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-26p9thvhvv] {
        justify-content: space-between;
    }

    .top-row[b-26p9thvhvv]  a, .top-row[b-26p9thvhvv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-26p9thvhvv] {
        flex-direction: row;
    }

    .sidebar[b-26p9thvhvv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-26p9thvhvv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-26p9thvhvv]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-26p9thvhvv], article[b-26p9thvhvv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-26p9thvhvv] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-26p9thvhvv] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/WorldBackpacker/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler:checked[b-nh9uggx7fw] {
        background-color: black
    }

.top-row[b-nh9uggx7fw] {
    height: 3.5rem;
    background-color: #a37d2f;
}

.navbar-brand[b-nh9uggx7fw] {
    font-size: 1.1rem;
}

.bi[b-nh9uggx7fw] {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 1.3rem;
    margin-left: -2.9px;
    top: -1px;
    background-size: cover;
}
.bi2[b-nh9uggx7fw] {
    display: inline-block;
    position: relative;
    width: 2.8rem;
    height: 2.80rem;
    margin-right: 1rem;
    margin-left: -11px;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-nh9uggx7fw] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}



.nav-item[b-nh9uggx7fw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-nh9uggx7fw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-nh9uggx7fw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-nh9uggx7fw]  .nav-link {
        color: rgba(255,255,255,0.9);
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        font-weight: bold;
        width: 100%;
    }

.nav-item[b-nh9uggx7fw]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-nh9uggx7fw]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-nh9uggx7fw] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-nh9uggx7fw] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-nh9uggx7fw] {
        display: none;
    }

    .nav-scrollable[b-nh9uggx7fw] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/WorldBackpacker/Components/Layout/RecomLayout.razor.rz.scp.css */
.page[b-h1txll8yw3] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("background2.svg");
    background-repeat: no-repeat;
    background-color: #FFF9E5;
}

main[b-h1txll8yw3] {
    flex: 1;
}

.sidebar[b-h1txll8yw3] {
    background-color: #f2c366;
    }

.top-row[b-h1txll8yw3] {
    justify-content: flex-end;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

    .top-row[b-h1txll8yw3]  a, .top-row[b-h1txll8yw3]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
        font-size: 1.03rem;
    }

        .top-row[b-h1txll8yw3]  a:hover, .top-row[b-h1txll8yw3]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-h1txll8yw3]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-h1txll8yw3] {
        justify-content: space-between;
    }

        .top-row[b-h1txll8yw3]  a, .top-row[b-h1txll8yw3]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-h1txll8yw3] {
        flex-direction: row;
    }

    .sidebar[b-h1txll8yw3] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-h1txll8yw3] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-h1txll8yw3]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-h1txll8yw3], article[b-h1txll8yw3] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-h1txll8yw3] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-h1txll8yw3] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
